{% extends 'base.html' %}

{% block content %}
    <div class="tweets">
        <p>
            <img src="{{ url_for('static', filename='avatar.png') }}" />
            <strong><a href="/{{tweet.user.username}}">{{tweet.user.username}}</a></strong>
            {{tweet.content}}<span><a href="{{ url_for('user.status', name=username, post_id=tweet.id) }}">permalink</a></span>
        </p>
    </div>
{% endblock %}